@model TheLDTS.Models.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LandlordID" class="control-label"></label>
                <select asp-for="LandlordID" class ="form-control" asp-items="ViewBag.LandlordID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent" class="control-label"></label>
                <input asp-for="Rent" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CP12" class="control-label"></label>
                <input asp-for="CP12" class="form-control" />
                <span asp-validation-for="CP12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAT" class="control-label"></label>
                <input asp-for="PAT" class="form-control" />
                <span asp-validation-for="PAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EICR" class="control-label"></label>
                <input asp-for="EICR" class="form-control" />
                <span asp-validation-for="EICR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPC" class="control-label"></label>
                <input asp-for="EPC" class="form-control" />
                <span asp-validation-for="EPC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegionellaTest" class="control-label"></label>
                <input asp-for="LegionellaTest" class="form-control" />
                <span asp-validation-for="LegionellaTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |
                    <a asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
